<p id="notice"><%= notice %></p>

<h1><%= @post.display_name %></h1>

<h2>Versions</h2>
<table>
  <tr><th>Title</th><th>File Data</th><th>Updated</th> </tr>
  <% @post.versions.each do |post_version| %>
    <% reified_post = post_version.reify %>
    <% if reified_post %>
      <tr>
        <td><%= reified_post.title %></td>
        <td><%= reified_post.file_data %></td>
        <td><%= reified_post.updated_at %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Show JSON', album_post_path(@post, album_id: @post.album, format: :json) %> |
<%= link_to 'Edit', edit_album_post_path(@post, album_id: @post.album) %> |
<% if @image_url %>
  <%= link_to "Download", @image_url%> |
<% end %>
<%= link_to 'Back', album_path(@post.album) %>
