<p id="notice"><%= notice %></p>

<h1><%= @post.title %> is processing...</h1>

<div id="status"
     data-controller="status"
     data-status-url="<%= status_post_path(@post, format: :html) %>"
     data-status-refresh-interval="1000">
     <%= render 'status', status: @status %>
</div>

<%= link_to 'Back', posts_path %>

